.navbar {
    justify-content:space-around;
    padding:10px;
}

.navbar, .container {
    display:flex;
    font-family:sans-serif;
    width:100%;
}

.topnav {
    display:flex;
    margin-top:7px;
    padding: 0;
    list-style: none;   
}

.topnav li a:hover {
    background-color: #4780EF;
    color: #fff;
}

.topnav .navlinea {
    text-decoration: none;
    padding-left: 20px;
    text-transform: uppercase;
    color:#5F646E;
}

.marca {
    font-size: 25px;
    color: #838383;
}

.computo {
    color:#4780EF;
}

.dropdownLink {
    display:none;
}

header {
    display:flex;
    justify-content: center;
    margin-top: 30px;
}

.logo-systec {
    border-radius: 20px;
    width:100%;
}

header h1 {
    font-family: sans-serif;
}

.media-object {
    display:flex;
}

.servicios {
    background-color: #908F8F;
    padding:4rem 1rem;
}
.img-servicios {
    border-radius: 20px;
    display: flex;
    margin-left: 10%;
}


.blurb-wrapper {
    margin-left: 10%;
    font-size: 20px;
}

.blurb-header {
    
}



/**********Mobile***********/

@media (max-width: 1100px) {
    ul.topnav li a.navlinea {
        display:none;
    }
    
    ul.topnav li.dropdownLink {
        display: block;
        position: absolute;
        
    }
    
    ul.topnav.responsive li.dropdownLink {
        position: absolute;  
        right:20px;
    }
    
    ul.topnav.responsive {
        flex-direction: column;
    }
    
     ul.topnav.responsive li {
        position: relative;
        top:20px;
        line-height: 1.5;
    }
    
    ul.topnav.responsive li a.navlinea {
        display:block;          
    } 
    
    .media-object {
        display: block;
    }
    
    .img-servicios {
        margin: 0;
        width:100%;
    }
    
    .blurb-wrapper {
        margin: 0;
        width:100%;
    }
   
}
